{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    <a class="btn btn-outline-primary" href="{{ path('app_alumno_index') }}">Cancelar</a> <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
