

{% block title %}Alumno index{% endblock %}

{% block body %}
    <h1>Alumno index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>
                    <a href="{{ path('app_alumno_show', {'id': alumno.id}) }}">show</a>
                    <a href="{{ path('app_alumno_edit', {'id': alumno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alumno_new') }}">Create new</a>
{% endblock %}
