<!DOCTYPE html>
<html lang="es">
<head>
{{
    render(controller(
        'App\\Controller\\partes\\head::head_render',
        { 'max': 3 }
    ))
}}
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

{{
    render(controller(
        'App\\Controller\\partes\\navbar::navbar_render',
        { 'max': 3 }
    ))
}}
<section class="section" id="about">
        <div class="container">


{% block div %}
    <h1>Listado Alumnos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>
                    <a href="{{ path('app_alumno_show', {'id': alumno.id}) }}">Detalles</a>
                    <a href="{{ path('app_alumno_edit', {'id': alumno.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encuentran alumnos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alumno_new') }}">Crear nuevo alumno</a>
{% endblock %}
</div>
</section>

{{

    render(controller(
        'App\\Controller\\partes\\footer::footer_iniciar',
        { 'max': 3 }
    ))

}}


{{
    render(controller(
        'App\\Controller\\partes\\script::script_iniciar',
        { 'max': 3 }
    ))
}}

</body>
</html>
