{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block body %}
    <h1>Alumnos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alumno.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ alumno.nombre }}</td>
            </tr>
            <tr>
                <th>Primer_apellido</th>
                <td>{{ alumno.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundo_apellido</th>
                <td>{{ alumno.segundoApellido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alumnos_index') }}">back to list</a>

    <a href="{{ path('app_alumnos_edit', {'id': alumno.id}) }}">edit</a>

    {{ include('alumnos/_delete_form.html.twig') }}
{% endblock %}
